<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Confirmation Page</title>
    </head>
    <body style="background-color:blue">
        <div class="p-3 mb-2 bg-success text-white" align="center">
            <h1><span style="background-color: yellow">
                Your Purchase Has been Made!
            </span> </h1>
            </div>
            <a href="../clothing" class="btn btn-primary">Go to Storefront</a>
            <script type="text/javascript" src="bundle.js"></script>

    </body>
</html>